<!DOCTYPE html>
<html lang="en">
<head>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9595731160145415"
            crossorigin="anonymous"></script>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Customs</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="css/header.css"/>
    <link rel="stylesheet" href="css/reset.css" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header-row">
                <div class="header-logo"><a href="/Home"><img src="source/logo/logo-min.svg" alt="Logo"/></a></div>
                <nav class="header-nav">
                    <ul>
                        <li><a href="#">Прем'єри</a></li>
                        <li><a href="#">Фільми</a></li>
                        <li><a href="#">Серіали</a></li>
                        <li><a href="#">Підбірки</a></li>
                    </ul>
                </nav>
                <div class="header-search">
                    <form method="get" action="/Search">
                        <input id="searchInput" minlength="3" name="name" type="text"/>
                        <input id="btn" src="source/search.svg" type="image"/>
                    </form>
                </div>
                <div class="header-login"><a><img src="source/login.svg"/></a></div>
            </div>
           @* <form method="get" action="/Search">
                <input id="searchInput" name="name" type="text"/>
                <input id="btn" type="submit"/>
            </form>*@
        </div>
    </header>
    
 
        @RenderBody()
   

    <script>
        document.getElementById("btn").addEventListener("click",
            function(e) {
                var name1 = document.getElementById('searchInput').value;
                console.log("Aa");
                @Url.Action("Search", "Home", new {name = "qwe", page = 1})
            });
    </script>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Customs - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
