@using System.Net.Http
@model IEnumerable<string>
@{
    ViewData["Title"] = "SLAVA UKRAINE";
    Layout = Layout;
}

<div class="main">
    <div class="watch-movie">
        <iframe id="if" src="" allowfullscreen></iframe>
    </div>
    <div class="chat_wrapper">
        <div id="users" class="users">

        </div>
        <div id="chat" class="chat">

        </div>
        <div id="inputForm">
            <input type="text" id="message" class="input_message" autofocus/>
            <input type="button" id="sendBtn" class="btn send_button" value="Відправити"/>
        </div>
    </div>
</div>

<div id="slide_lft">
    Наведи на меня
    <div id="slide_in">
        @if (Model != null)
        {
            @foreach (var friend in Model)
            {
                <h6>@friend</h6>
                <input class="invite" type="button" value="invite" name="@friend" />
            }
        }     
    </div>
</div>



<script src="http://code.jquery.com/jquery-1.9.1.js"></script>

<p style="opacity: 0" id="userName">@Context.User.Identities.FirstOrDefault()?.Name</p>

<script type="text/javascript" src="lib/signalr.min.js"></script>
<script src="jquery-3.6.0.min.js"></script>

<script src="room.js"></script>
<script type="text/javascript" src="//cdn.embed.ly/player-0.1.0.min.js"></script>
