@{
    ViewData["Title"] = "SLAVA UKRAINE";
}


<div>
    <div  class="1">
        <div id="first">
            <input id="oo"/>
            <input type="button" id="submit-btn"**>
        </div>
    </div>
    <div id="main">
        <iframe id="if" src="//37.svetacdn.in/YcrGt9kjVpz5/movie/8383" frameborder="0" allowfullscreen></iframe>
        <div class="chat">Nav</div>
        <aside><div class="chat"/></aside>

    </div>
       
    </div>


    <script type="text/javascript" src="lib/signalr.min.js"></script>
<script src="jquery-3.6.0.min.js"></script>
<script src="room.js"></script>
<script type="text/javascript" src="//cdn.embed.ly/player-0.1.0.min.js"></script>
