@{
    ViewData["Title"] = "SLAVA UKRAINE";
}


<div>
    <div  class="1">
        <div id="first">
            <input id="oo"/>
            <input type="button" id="submit-btn"**>
        </div>
    </div>
    <div id="main">
        <iframe id="if" src="//37.svetacdn.in/YcrGt9kjVpz5/movie/8383" frameborder="0" allowfullscreen></iframe>
        <div class="chat">Nav</div>
        <aside><div class="chat"/></aside>
        @*<iframe id="if" src="//37.svetacdn.in/YcrGt9kjVpz5/movie/8383" frameborder="0" allowfullscreen></iframe>
        
        <div class="chat">*@

        </div>
       
    </div>

@*<div id="welcome"></div>
<button id="con">Connect</button>
*@
<!--Script references. -->
    <!--Reference the SignalR library. -->
    <script type="text/javascript" src="lib/signalr.min.js"></script>
<script src="jquery-3.6.0.min.js"></script>
<script src="room.js"></script>
<script type="text/javascript" src="//cdn.embed.ly/player-0.1.0.min.js"></script>
@*<script>
    var url = document.URL;
    var roomId = url.split('?key=')[1].split("&")[0];
    var link = url.split('url=')[1].replaceAll("%2F", "/");
    
    document.getElementById("if").src = link;
    var connection = new signalR.HubConnectionBuilder()
        .withUrl('/chat')
        .build();
    var seekMain = 0;
    window.addEventListener("message",
        function (event) {
            /*console.log(event.data.event + "ddddddddddddddddddddddddddddddd");*/
            if (event.data.event === 'time' & typeof event.data.time !== 'undefined') {
                seekMain = event.data.time;
                console.log(event.data.time);
            }
            if (event.data.event === 'seek' & typeof event.data.time !== 'undefined') {
                seekMain = event.data.time;
                console.log(event.data.time);
            }
            if (event == 'Seeked') {
                console.log("SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS");
            }
            //if (event.data.event === 'seek' & typeof event.data.time !== 'undefined' & event.data.playing == 'false') {
            //    console.log("SLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL");
            //    seekMain = event.data.time;
            //    try {
            //        connection.invoke("SetTime", seekMain);
            //        //document.getElementById("if").contentWindow.postMessage({ "api": "time","set":seekMain }, "*");

            //    } catch (err) {
            //        console.error(err);
            //    }
            //    console.log(event.data.time);
            //}
            var err;
            if (event.data.event == 'paused') {
                console.log("Signal pause!");
                try {
                    console.log('!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!');

                    console.log(roomId);
                    console.log('!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!');
                    //connection.invoke("SetTime", roomId, seekMain);
                    connection.invoke("Pause", roomId, seekMain);
                    console.log(roomId);
                } catch (err) {
                    console.error(err);
                }

            }
            if (event.data.event == 'resumed') {
                console.log("Signal play!");
                try {
                    //connection.invoke("Enter", "test", name);
                    console.log('!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!');
                    console.log(seekMain);
                    console.log(roomId);
                    console.log('!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!');
                    //connection.invoke("SetTime", seekMain);
                    //document.getElementById("if").contentWindow.postMessage({ "api": "seek", "set": seekMain }, "*");
                    connection.invoke("Play", roomId, seekMain);
                } catch (err) {
                    console.error(err);
                }
            }
        });
    connection.on('Play', function (command, seek) {
        // Html encode display name and message.
        document.getElementById("if").contentWindow.postMessage({ "api": "play" }, "*");
        document.getElementById("if").contentWindow.postMessage({ "api": "seek", "set": seek }, "*");

    });
    connection.on('SetTime', function (command, time) {

        document.getElementById("if").contentWindow.postMessage({ "api": "seek","set":time }, "*");
    });
    connection.on('Pause', function (command, time) {
        document.getElementById("if").contentWindow.postMessage({ "api": "pause"}, "*");
        document.getElementById("if").contentWindow.postMessage({ "api": "seek", "set": time }, "*");

    });
    var name = '';
    
    document.addEventListener('DOMContentLoaded',
        function () {
            
            //connection.invoke("Enter", "test", name);
            //
            // \var messageInput = document.getElementById('message');
            
            // Get the user name and store it to prepend to messages.
            //name = prompt('Enter your name:', '');
            //// Set initial focus to message input box.
            //document.add("a");
            //messageInput.focus();
            //if (name) {
            //    connection.invoke("Enter", roomId, name);
            //    document.querySelector('#welcome').innerHTML = `<b>${name}</b>, добро пожаловать на сайт!`;

            //} else {
            //    document.querySelector('#welcome').innerHTML = '<b>Гость</b>, добро пожаловать на сайт!';
            //}

        });

  
        
        //name = prompt('Enter your name:', '');
        //// Set initial focus to message input box.
        
        //if (name) {
            
        //    connection.start().then(connection.invoke("Enter", roomId, name));
        //    //document.querySelector('#welcome').innerHTML = `<b>${name}</b>, добро пожаловать на сайт!`;

        //} else {
        //    //document.querySelector('#welcome').innerHTML = '<b>Гость</b>, добро пожаловать на сайт!';
        //}

    
    document.getElementById("submit-btn").addEventListener("click", function (e) {
        var name1 = document.getElementById('oo').value;
        document.getElementById('first').visibility = "hidden";
        connection.invoke("Enter", roomId, name1);
    });
    connection.start();
</script>*@