main {
    min-height: 80vh;
}
header {
    position: relative;
    background: #91D0FD;
    padding: 5px;
    padding-left: 5vw;
    padding-right: 5vw;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px !important;
}
.header-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-logo {
    width: 140px;
    min-width: 88px;
    margin-bottom: 5px;
}
.header-nav {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 10px;
    vertical-align: middle;
}
.header-nav * {
    display: flex;
    flex-wrap: nowrap;
}
.header-nav a {
    margin-right: 15px;
    transition: color 0.2s ease; 
}
.header-nav a:hover { 
    color: #FDD291;
    text-decoration: none;
}
.header-search {
    position: relative;
}
.search-input {
    padding-left: 10px;
    padding-right: 30px;
    border-radius: 15px;
}
.search-button {
    position: absolute;
    right: 3px;
    width: 21px;
    height: 21px;
    margin: 3px;
}
header a {
    color: black;
}

@media only screen and (max-width: 700px) {
    .header-nav-friends { display: none; }

    body { font-size: 15px; }

    .search-button {
        width: 18px;
        margin: 1px;
    }
     
    #friends-counter { width: 22px !important; height: 22px !important;}
}