body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    color: #424242;
    
}
img {
    border-radius: 5px;
}
body a {
    color: black;
}
main {
    min-height: 80vh;
}
@media (max-width: 991px) {
    body {
        font-size: 18px;
    }
}

/* profile */
.history-div {
    display: flex;
    flex-direction: column;
}
.history-wrapper {
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    max-height: 400px;
    overflow-x: scroll;
}
.history-wrapper a {
    margin: 10px;
    padding: 12px;
    background: rgba(103, 192, 255, 0.2);
    align-items: center;
    width: 200px;
    white-space: normal;
    border-radius: 20px;
}
.history-wrapper a:hover {
    padding: 9px;
    border: #FDD291 3px dashed;
}
.history-wrapper img {
    border-radius: 5px;
}
/*profile end*/
/* films */
.filmser-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    background: rgba(103, 192, 255, 0.5);
}
.filmser-header *{
    padding: 5px;
    height: 100%;
    width: 200px;
    text-align: center;
}
.filmser-header *:hover {
    text-decoration: none;
}
.film-page {
        display: flex;
        flex-direction: row;
    }
.filters{
    background: rgba(103, 192, 255, 0.3);
}
.filters input {
    border-bottom: #FDD291 3px dashed;
    min-width: 200px;
    max-width: 250px;
    width: 60%;
}
.submit-button {
    width: 100%;
    background: #fdd291 !important;
    border: none !important;
}
.filter-item {
    padding: 10px;
    padding-right: 5px;
}
.genre-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}
.genre-item * {
    margin: 0px;
}
.genre-item input {
    min-width: 10px;
    width: 20px;
}
.results {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
.result {
    margin: 20px;
    padding: 15px;
    background: rgba(103, 192, 255, 0.2);
    align-items: center;
    width: 200px;
    white-space: normal;
    border-radius: 20px;
}
.result:hover {
    padding: 12px;
    border: #FDD291 3px dashed;
}
.poster {
    width: 100%;
}
.nextprevbuttons {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}
.nextprevbuttons * {
    background: #fdd291;
    margin: 10px;
    width: 150px;
}
.pagenum {
    background: rgba(103, 192, 255, 0.5);
    width: 40px;
}
/* films end */

/* movie */
.movie-page {
    margin: 2vw;
    margin-left: 10vw;
    margin-right: 10vw;
    padding-bottom: 4px;
}
.movie-page-details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}
.movie-page-details div {
    max-width: 500px;
    width: 40%;
    margin-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
}
.poster-max {
    width: 400px;
}
.go-button {
    margin: 20px;
    background: #fdd291 !important;
    width: 100px;
}
/* movie end*/

/* friends */
.friends {
    margin: 10%;
    margin-top: 30px;
}
.friends h5 {
    margin-left: 50px;
}
.friends a {
    font-weight: 500;
    color: #404040;
}
.friends a:hover {
    text-decoration: none;
    color: black;
}
.search-friend {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.search-friend div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
}
.search-friend-field {
    border-bottom: #FDD291 3px dashed;
    min-width: 200px;
    max-width: 250px;
    width: 60%;
}
.search-friend-button {
    margin: 20px;
    background: #fdd291 !important;
    margin: 0px;
    margin-left: 10px;
}
.friends-requests {
    background: #fdd291;
    margin-top: 20px;
    padding: 10px;
    padding-left: 10px;
    border-radius: 20px;
}
.friend-request {
    background: #FFBB54;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    padding: 10px;
    padding-left: 30px;
    align-items: center;
}
.friend-request div {
    display: flex;
    flex-direction: row;
}
.friend-request input{
    margin-right: 10px;
    background: rgba(103, 192, 255, 0.9);
}
.friends-list {
    background: rgba(103, 192, 255, 0.3);
    margin-top: 20px;
    padding: 10px;
    padding-left: 10px;
    border-radius: 20px;
}
.friend {
    background: rgba(103, 192, 255, 0.5);
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    padding: 10px;
    padding-left: 30px;
    align-items: center;
}
/* friends end */

/*watch video*/
.main {
    margin: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.watch-movie {
    width: min-content;
    padding: 10px;
    border-radius: 20px;
    background: black;
    height: min-content;
}
.watch-movie iframe {
    width: 910px;
    height: 450px;
}
.chat {
    background: #D4EBF9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding-left: 25px;
    height: 480px;
}
@media (max-width: 1455px) {
    .main {
        justify-content: center;
    }
    .chat {
        width: 900px;
        margin-top: 20px;
    }
}
@media (max-width: 960px) {
    .watch-movie iframe {
        width: 600px;
        height: 300px;
    }
    .chat {
        width: 600px;
    }
}
@media (max-width: 700px) {
    .watch-movie {
        padding: 5px;
        border-radius: 10px;
    }
    .watch-movie iframe {
        width: 450px;
        height: 225px;
    }
    .chat {
        width: 450px;
    }
}
/* watch video end*/
.container {
    width: 1400px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1399px) {
    .container {
        width: 100%;
    }
}

.container-wide {
    width: 1536px;
}

@media (max-width: 1535px) {
    .container-wide {
        width: 100%;
    }
}

.no-scroll {
    overflow: hidden;
}

img, svg {
    vertical-align: top;
    max-width: 100%;
    height: auto;
}

.nav {
    display: flex;
    list-style-type: none;
    flex-flow: nowrap;
    justify-content: space-between;
}

section {
    display: block;
}


.header-panel {
    /*width: 1920px;*/
    height: 139px;
    left: 0px;
    top: 0px;
    background: #67C0FF;
}




#users {
    position: static;
    padding-left: 25px;
}
#chat {
    padding-left: 25px;
    position: static;
    height: 600px;
    width: 400px;
    hyphens: auto;
    overflow-x:auto;
    
}
#chat>p {
    width: 380px;
    hyphens: auto;
}
#inputForm {
    height: 35px;
    width: 100px;
    padding-top: 50px;
    padding-left: 25px;
    vertical-align: bottom;
}



#slide_lft {
    position: fixed;
    top: 100px;
    right: 0;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    background: #f60;
    color: #fff;
    padding: 5px;
}

#slide_in {
    position: fixed;
    min-height: 200px;
    top: 100px;
    right: -250px;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    box-shadow: 0 0 5px #777;
    background: #67C0FF;
    color: #fff;
    width: 250px;
    padding: 10px;
    box-sizing: padding-box;
}

#slide_lft:hover {
    right: 250px;
}

#slide_lft:hover #slide_in {
    right: 0;
}








/*message*/
@import "bourbon";
@import url(https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

* {
    box-sizing: border-box;
}



.Message {
    visibility: hidden;
    display: table;
    vertical-align: bottom;
    position: fixed;
    right: 3px;
    bottom: 15px;
    width: 500px;
    background-color: #67C0FF;
    color: #fff;
    transition: all 0.2s ease;
}

.Message.is-hidden {
    opacity: 0;
    height: 0;
    font-size: 0;
    padding: 0;
    margin: 0 auto;
    display: block;
}



.Message-icon {
    display: table-cell;
    vertical-align: middle;
    width: 60px;
    padding: 30px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.25);
}

.Message-icon > i {
    width: 20px;
    font-size: 20px;
}

.Message-body {
    display: table-cell;
    vertical-align: middle;
    padding: 30px 20px 30px 10px;
}

.Message-body > p {
    line-height: 1.2;
    margin-top: 6px;
}

.Message-button {
    position: relative;
    margin: 15px 5px -10px;
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: 0 3px rgba(0, 0, 0, 0.4);
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    font-family: 'Source Sans Pro';
    color: #fff;
    outline: none;
    cursor: pointer;
}

.Message-button:hover {
    background: rgba(0, 0, 0, 0.3);
}

.Message-button:active {
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0 0px rgba(0, 0, 0, 0.4);
    top: 3px;
}

.Message-close {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    border: none;
    outline: none;
    font-size: 20px;
    right: 5px;
    top: 5px;
    opacity: 0;
    cursor: pointer;
}

.Message:hover .Message-close {
    opacity: 1;
}

.Message-close:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.u-italic {
    font-style: italic;
}