body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    color: #424242;
    /* min-width: 1600px; */
}

@media (max-width: 991px) {
    body {
        font-size: 18px;
    }
}

/* Utility */

.none {
    display: none !important;
}

.visually-hidden {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    width: 0px;
    height: 0px;
    display: block;
    margin-left: -10000px;
    background: transparent;
    font-size: 0;
}

/* Grid */

.container {
    width: 1400px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1399px) {
    .container {
        width: 100%;
    }
}

.container-wide {
    width: 1536px;
}

@media (max-width: 1535px) {
    .container-wide {
        width: 100%;
    }
}

.no-scroll {
    overflow: hidden;
}
img, svg {
    vertical-align: top;
    max-width: 100%;
    height: auto;
}
.nav {
    display: flex;
    list-style-type: none;
    flex-flow: nowrap;
    justify-content: space-between;
}
section {
    display: block;
}
/*iframe {
    display: flex;
    position:absolute;
    width: 70%;
    height: 803px;
    left: 0px;
    top: 221px;
}*/

.chat {
    /*display: flex;
    position: absolute;
   width: 25%;
    height: 803px;
    left: 1350px;
    top: 209px;*/
    margin-left: 50px;
    background: #D4EBF9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 35px;
}
#main {
    flex-wrap: wrap;
    display: flex;
    flex: 1;
}

#main > iframe {
    height: 800px;
    flex: 1;
    order: 1;
}

#main > div,


#main > div {
    flex: 0 0 450px;
    order: 2;
}




.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.header-panel {
    /*width: 1920px;*/
    height: 139px;
    left: 0px;
    top: 0px;
    background: #67C0FF;
}
footer {
    display: flex;
    justify-content: space-between;
    color: #828282;
    padding: 26px 0;
    font-size: 12px;
}
.poster {
    max-width: 150px;
}
.poster-max {
    max-width: 250px;
}
#users {
    position: static;
    padding-left: 25px;
}
#chat {

    padding-left: 25px;
    position: static;
    height: 600px;
    width: 400px;
    hyphens: auto;
    overflow-x:auto;
    
}
#chat>p {
    width: 380px;
    hyphens: auto;
}
#inputForm {
    height: 35px;
    position: static;
    padding-top: 50px;
    padding-left: 25px;
    vertical-align: bottom;
}
.history {
    width: 55px;
}
.history-div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}





#slide_lft {
    position: fixed;
    top: 100px;
    right: 0;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    background: #f60;
    color: #fff;
    padding: 5px;
}

#slide_in {
    position: fixed;
    min-height: 200px;
    top: 100px;
    right: -250px;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    box-shadow: 0 0 5px #777;
    background: #67C0FF;
    color: #fff;
    width: 250px;
    padding: 10px;
    box-sizing: padding-box;
}

#slide_lft:hover {
    right: 250px;
}

#slide_lft:hover #slide_in {
    right: 0;
}








/*message*/
@import "bourbon";
@import url(https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

* {
    box-sizing: border-box;
}



.Message {
    visibility: hidden;
    display: table;
    vertical-align: bottom;
    position: fixed;
    right: 3px;
    bottom: 15px;
    width: 500px;
    background-color: #67C0FF;
    color: #fff;
    transition: all 0.2s ease;
}

.Message.is-hidden {
    opacity: 0;
    height: 0;
    font-size: 0;
    padding: 0;
    margin: 0 auto;
    display: block;
}



.Message-icon {
    display: table-cell;
    vertical-align: middle;
    width: 60px;
    padding: 30px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.25);
}

.Message-icon > i {
    width: 20px;
    font-size: 20px;
}

.Message-body {
    display: table-cell;
    vertical-align: middle;
    padding: 30px 20px 30px 10px;
}

.Message-body > p {
    line-height: 1.2;
    margin-top: 6px;
}

.Message-button {
    position: relative;
    margin: 15px 5px -10px;
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: 0 3px rgba(0, 0, 0, 0.4);
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    font-family: 'Source Sans Pro';
    color: #fff;
    outline: none;
    cursor: pointer;
}

.Message-button:hover {
    background: rgba(0, 0, 0, 0.3);
}

.Message-button:active {
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0 0px rgba(0, 0, 0, 0.4);
    top: 3px;
}

.Message-close {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    border: none;
    outline: none;
    font-size: 20px;
    right: 5px;
    top: 5px;
    opacity: 0;
    cursor: pointer;
}

.Message:hover .Message-close {
    opacity: 1;
}

.Message-close:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.u-italic {
    font-style: italic;
}