body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    color: #424242;
    /* min-width: 1600px; */
}

@media (max-width: 991px) {
    body {
        font-size: 18px;
    }
}

/* Utility */

.none {
    display: none !important;
}

.visually-hidden {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    width: 0px;
    height: 0px;
    display: block;
    margin-left: -10000px;
    background: transparent;
    font-size: 0;
}

/* Grid */

.container {
    width: 1400px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1399px) {
    .container {
        width: 100%;
    }
}

.container-wide {
    width: 1536px;
}

@media (max-width: 1535px) {
    .container-wide {
        width: 100%;
    }
}

.no-scroll {
    overflow: hidden;
}
img, svg {
    vertical-align: top;
    max-width: 100%;
    height: auto;
}
.nav {
    display: flex;
    list-style-type: none;
    flex-flow: nowrap;
    justify-content: space-between;
}
section {
    display: block;
}
/*iframe {
    display: flex;
    position:absolute;
    width: 70%;
    height: 803px;
    left: 0px;
    top: 221px;
}*/

.chat {
    /*display: flex;
    position: absolute;
   width: 25%;
    height: 803px;
    left: 1350px;
    top: 209px;*/
    margin-left: 50px;
    background: #D4EBF9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 35px;
}
#main {
    flex-wrap: wrap;
    display: flex;
    flex: 1;
}

#main > iframe {
    height: 800px;
    flex: 1;
    order: 1;
}

#main > div,


#main > div {
    flex: 0 0 450px;
    order: 2;
}




.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.header-panel {
    /*width: 1920px;*/
    height: 139px;
    left: 0px;
    top: 0px;
    background: #67C0FF;
}
footer {
    display: flex;
    justify-content: space-between;
    color: #828282;
    padding: 26px 0;
    font-size: 12px;
}
.poster {
    max-width: 150px;
}
.poster-max {
    max-width: 250px;
}
#users {
    position: static;
    padding-left: 25px;
}
#chat {

    padding-left: 25px;
    position: static;
    height: 600px;
    width: 400px;
    hyphens: auto;
    overflow-x:auto;
    
}
#chat>p {
    width: 380px;
    hyphens: auto;
}
#inputForm {
    height: 35px;
    position: static;
    padding-top: 50px;
    padding-left: 25px;
    vertical-align: bottom;
}
.history {
    width: 55px;
}
.history-div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}